@media (max-width: 500px) {
  .hometab {
    height: 86vh;
    padding: 15px;
    overflow-y: auto;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    background: var(--bg);
    position: sticky;
    left: 0;
    top: 0;
  }

  .header-left {
    display: flex;
    gap: 7px;
  }

  .header-left .fas {
    font-size: 40px;
    color: var(--text);
  }

  .header-left small {
    color: var(--text);
    display: block;
  }

  .header-left p {
    color: var(--light-white);
    display: block;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-right a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--card-dark);
    position: relative;
  }

  .notice {
    width: 30px;
    height: 30px;
    background: var(--secondary);
    color: var(--light-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -5px;
    border: 2px solid var(--bg);
  }

  .header-right img {
    width: 20px;
  }

  h1 {
    color: var(--light-white);
    font-size: 30px;
  }

  .wallet-card {
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(137deg, #343131, #512e2e);
    margin: 10px 0;
  }

  .wallet-card div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .wallet-card small {
    color: var(--text);
    display: block;
  }

  .wallet-card .fas {
    color: var(--text);
    display: block;
  }

  .wallet-card b {
    font-size: 20px;
    color: var(--light-white);
    display: block;
  }

  .quick-actions {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    background: var(--card-dark);
    border-radius: 15px;
  }

  .quick-actions a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #646464;
    border-radius: 50%;
    margin: 0 auto;
  }

  .quick-actions img {
    width: 17px;
  }

  h3 {
    color: var(--text);
    margin: 10px 0;
  }
}
