@media (max-width: 500px) {
  nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background: var(--card-dark);
    width: 97%;
    margin: 5px auto;
  }
}

nav img {
  width: 30px;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
