@media (max-width: 500px) {
  .wallettab {
    height: 86vh;
    padding: 15px;
    overflow-y: auto;
  }

  .wallet-card {
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(137deg, #343131, #512e2e);
    margin: 10px 0;
  }

  .wallet-card div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .wallet-card small {
    color: var(--text);
    display: block;
  }

  .wallet-card .fas {
    color: var(--text);
    display: block;
  }

  .wallet-card b {
    font-size: 20px;
    color: var(--light-white);
    display: block;
  }

  .action-tab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .action-tab a {
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--light-white);
    border-radius: 10px;
    padding: 15px;
  }

  .action-tab .fund {
    background: var(--primary);
  }
  .action-tab .withdraw {
    background: var(--secondary);
  }

  .history-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  .history-card:not(:last-child) {
    border-bottom: 1px solid #3d3d3d;
  }

  .history-card .left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .history-card .left .fas {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-white);
  }

  .history-card .left .fas.fa-arrow-up {
    background: red;
  }
  .history-card .left .fas.fa-arrow-down {
    background: rgb(1, 211, 64);
  }

  .history-card .small {
    color: var(--text);
    font-size: 12px;
    display: block;
  }

  .history-card .status {
    display: block;
    color: green;
    text-align: right;
    margin-bottom: 5px;
  }

  .history-card p {
    color: var(--light-white);
  }

  .history-time {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .wix-points {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .wix-points span {
    display: block;
    color: var(--card);
  }
}
