:root {
  --primary: #d8a25e;
  --secondary: #a04747;
  --bg: #0a0a0a;
  --light: #eedf7a;
  --light-white: #f6f6f6;
  --card: #646464;
  --card-dark: #343131;
  --text: #bcbcbc;
  --primary-button: linear-gradient(137deg, #d8a25e, #a04747);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}
body {
  background: var(--bg);
}

.big-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.big-screen img {
  display: block;
  max-width: 700px;
  width: 100%;
}

.big-screen h1 {
  color: #646464;
}

.spinner {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 5px solid transparent;
  border-radius: 50%;
  border-top-color: var(--light-white);
  border-left-color: var(--light-white);
  border-bottom-color: var(--light-white);
  animation: spin 1.5s linear forwards infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notfound {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  gap: 10px;
}

.notfound img {
  width: 200px;
  display: block;
}

.notfound p {
  color: #646464;
}

.notfound a,
.empty-list a {
  display: inline-block;
  padding: 15px;
  width: 100%;
  background: var(--primary-button);
  border-radius: 10px;
  color: var(--light-white);
}

.empty-list,
.empty-transactions {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  text-align: center;
}

.empty-list img {
  display: block;
  width: 200px;
}

.empty-transactions .fas {
  font-size: 100px;
  color: var(--card-dark);
}

.empty-list,
.empty-transactions h2 {
  color: #343131;
}

.empty-list,
.empty-transactions p {
  color: #646464;
}

.error-modal {
  position: fixed;
  top: 0;
  left: 2.5%;
  width: 95%;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s ease-in;
  opacity: 0;
}

.error-modal div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.error-modal.error {
  background: rgb(251, 191, 191);
  top: 20px;
  opacity: 1;
}

.error-modal.error small {
  color: rgb(159, 0, 0);
  display: block;
  margin-top: 5px;
}

.error-modal.error div {
  color: red;
}

.error-modal.success {
  background: rgb(191, 251, 201);
  top: 20px;
  opacity: 1;
}

.error-modal.success small {
  color: rgb(0, 159, 88);
  display: block;
  margin-top: 5px;
}

.error-modal.success div {
  color: rgb(0, 162, 62);
}

.error-modal.warning {
  background: rgb(251, 247, 191);
  top: 20px;
  opacity: 1;
}

.error-modal.warning small {
  color: rgb(212, 152, 1);
  display: block;
  margin-top: 5px;
}

.error-modal.warning div {
  color: rgb(255, 196, 0);
}

.loading-page {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-page h1 {
  color: var(--secondary);
  animation: page-load 2s linear forwards infinite;
}

.loading-page h1 span {
  color: var(--primary);
}

@keyframes page-load {
  0% {
    text-shadow: 0 0 0 transparent;
  }
  25% {
    text-shadow: 0 0 5px green;
  }

  50% {
    text-shadow: 0 0 10px rgb(128, 113, 0);
    transform: scale(1.1);
  }
  75% {
    text-shadow: 0 0 5px rgb(128, 0, 124);
  }
  75% {
    text-shadow: 0 0 0 transparent;
  }
}
